body {
  font-family: system-ui, sans-serif;
  background: #7d7b90;
  margin: 0;
  padding: 20px;
}


.page-wrapper {
  width: 100%;
  max-width: 600px;
  background: #1e1e2f;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  color: #eee;
}

.room {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  background: #2d2d44;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 18px;
}

.room:hover {
  background: #3a3952;
}

.page-wrapper input {
  width: 100%;
  padding: 12px 0 12px 0;
  border-radius: 6px;
  border: 1px solid #444;
  background: #000000;
  color: #eee;
  margin-bottom: 12px;
  font-size: 16px;
}

.page-wrapper button {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  background: #6c5ce7;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-top: 5px;
}


button:hover {
  background: #8e7ffb;
}

.roomName {
  flex-grow: 1; 
}

.deleteRoom {
  width: auto !important;
  padding: 0 6px;
  margin-left: auto;
  background: transparent;
  border: none;
  color: #ff6b6b;
  font-size: 20px;
  cursor: pointer;
}


.deleteRoom:hover {
  color: #ff3b3b;
}

/* LOGIN / AUTH PAGES */

.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 80px;
    min-height: 100vh;
}

.auth-card {
    background: #1e1e1e;
    padding: 25px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0,0,0,0.35);
}

.auth-card h2 {
    margin-bottom: 20px;
    text-align: center;
}

.auth-card input {
    width: 100%;
    padding: 10px;
    margin: 6px 0 15px 0;
    border-radius: 6px;
    border: 1px solid #444;
    background: #111;
    color: white;
}

.auth-card button {
    width: 100%;
    padding: 12px;
    background: #4a8cff;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.auth-card button:hover {
    background: #6aa0ff;
}

.auth-links {
    margin-top: 15px;
    text-align: center;
}

.auth-links a {
    display: block;
    margin-top: 5px;
    color: #4a8cff;
    cursor: pointer;
}

/* Přepiš login inputy, aby byly kompaktní */
.auth-card input {
    width: 100%;
    padding: 8px 10px;   /* menší padding */
    margin: 6px 0 12px 0;
    border-radius: 6px;
    border: 1px solid #444;
    background: #111;
    color: white;
    font-size: 14px;     /* menší text */
    box-sizing: border-box;
}

/* Přepiš login button */
.auth-card button {
    padding: 10px;
    font-size: 15px;
}

@media (max-width: 900px) {
  body {
    padding: 0;
  }

  .page-wrapper {
    border-radius: 0;
    height: 100dvh;
    max-width: 100%;
  }

  .room {
    font-size: 20px;
    padding: 16px;
  }

  input, button {
    font-size: 20px;
    padding: 14px;
  }
}
